
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: f1;
    src: url(/files/fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: f2;
    src: url(/files/fonts/Gotham\ Regular.otf);
}

@font-face {
    font-family: f3;
    src: url(/files/fonts/March\ Clean.otf);
}

@font-face {
    font-family: f4;
    src: url(/files/fonts/aracne-condensed-cufonfonts/ARACNE-CONDENSED_regular_italic.otf);
}

@font-face {
    font-family: f5;
    src: url(/files/fonts/SFPRODISPLAYREGULAR.OTF);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 5;
    font-size: 14px;
    background-color: whitesmoke;
    border: 1px solid black;
}

.left-side a:hover,
.right-side a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}

.text a:hover {
    text-decoration: none;
}
  
.icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.square {
    width: 40px;
    height: 40px;
    border-radius: 13px;
    background-color: black;
}

.text {
    font-size: 17px;
    color: black;
    font-family: 'f3';
}

.left-side {
    position: absolute;
    left: 250px;
    display: flex;
    align-items: center;
}

.left-side a {
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-family: 'f2';
}

.right-side {
    display: flex;
    align-items: center;
}

.right-side a {
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-family: 'f2';
}

.icon img {
    width: 30px;
    height: 30px;
    margin-right: 40px;
    filter: brightness(0) saturate(100%)
}

header {
    background-color: #f8f8f0;
    color: #333;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

header .logo {
    float: left;
    display: flex;
    align-items: center;
}

header .logo img {
    width: 30px;
    margin-right: 10px;
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav li {
    display: inline;
    padding: 0 15px;
}

header nav a {
    text-decoration: none;
    color: #333;
}

.main-content {
    margin-top: 100px;
}

.book-details {
    width: 45%;
    float: left;
    font-family: 'f3';
    color: black;
    font-size: 25px;
    line-height: 35px;
    margin-left: 80px;
}

.author {
    font-family: 'f5';
    margin-top: -20px;
    font-size: 15px;
    color: #666;
}

.publisher-description {
    width: 45%;
    float: right;
    font-family: 'f3';
    font-size: 10px;
}

.book-container {
    width: 250px;
    height: 350px;
    position: relative;
}

.book-cover {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    margin-left: 170px;
}

.back {
    opacity: 0;
}

.book-container:hover .front {
    opacity: 0;
}

.book-container:hover .back {
    opacity: 1;
}

.buttons {
    margin-top: 20px;
    margin-left: 100px;
}

.button {
    border: none;
    color: white;
    padding: 5px 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 1px 2px;
    cursor: pointer;
    border-radius: 18px;
    font-family: 'f5';
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.button.checkout {
    background-color: black;
    color: whitesmoke;
    border: 2px solid black;
}

.publisher-description h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'f2';
    color:black;
    margin-top: 30px;
}

.publisher-description p {
    margin-bottom: 20px;
    font-family: 'f5';
    font-size: 17px;
    color:black;
}

.publisher-description::after {
    content: "";
    display: block;
    width: 750px;
    height: 1px;
    background-color: rgb(214, 214, 214);
    margin: 10px auto;
    margin-top: 10px;
}

.logo {
    position: fixed;
    left: 23px;
    top: 17px;
    width: 35px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 1000;
}

.logo img {
    width: 5px;
    height: 10px;
}